// FONTS START
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
	font-family: Aeonik;
	src: url(../assets/font/Aeonik/Aeonik-Regular.otf);
}
// FONTS END

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: Aeonik;
}

// VARIABLES START
$color1: #000000;
$color2: #2c4b9c;
$color3: #9db0cb;
$color4: rgba(0, 0, 0, 0.75);
// VARIABLES END

// GLOBAL START
html {
	width: 100%;
	font-size: 100%;
	overflow-x: hidden;
}
@media screen and (max-width: 992px) {
	html {
		font-size: 100%;
	}
}
@media screen and (max-width: 668px) {
	html {
		font-size: 92%;
	}
}
@media screen and (max-width: 575px) {
	html {
		font-size: 88%;
	}
}
@media screen and (max-width: 475px) {
	html {
		font-size: 84%;
	}
}
@media screen and (max-width: 380px) {
	html {
		font-size: 80%;
	}
}
@media screen and (max-width: 280px) {
	html {
		font-size: 76%;
	}
}

.montserrat {
	font-family: "Montserrat", sans-serif;
}

.f8 {
	font-size: 0.5rem;
}

.f10 {
	font-size: 0.625rem;
}

.f12 {
	font-size: 0.75rem;
}

.f14 {
	font-size: 0.875rem;
}

.f15 {
	font-size: 0.938rem;
}

.f16 {
	font-size: 1rem;
}

.f18 {
	font-size: 1.125rem;
}

.f20 {
	font-size: 1.25rem;
}

.f22 {
	font-size: 1.375rem;
}

.f24 {
	font-size: 1.5rem;
}

.f34 {
	font-size: 2.125rem;
}

.f30 {
	font-size: 1.875rem;
}

.f35 {
	font-size: 2.125rem;
	line-height: 57px;
}

.f40 {
	font-size: 2.5rem;
}

.f50 {
	font-size: 3.125rem;
	line-height: 65px;
}

.f58 {
	font-size: 3.625rem;
}

.f64 {
	font-size: 4rem;
	line-height: 71px;
}

.fw400 {
	font-weight: 400;
}

.fw500 {
	font-weight: 500;
}

.fw600 {
	font-weight: 600;
}

.fw700 {
	font-weight: 700;
}

.fw800 {
	font-weight: 800;
}

.fw900 {
	font-weight: 900;
}

// COLORS
.color1 {
	color: $color1;
}

.bg_color1 {
	background: $color1;
}

.color2 {
	color: $color2;
}

.bg_color2 {
	background: $color2;
}

.color3 {
	color: $color3;
}

.bg_color3 {
	background: $color3;
}

.color4 {
	color: $color4;
}

.bg_color4 {
	background: $color4;
}

.pointer {
	cursor: pointer;
}

.page_container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.let_space {
	letter-spacing: 0.15em;
}

// HEADER START
.header_container {
	height: 160px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	transition: 0.6s;
	z-index: 111111111;

	p {
		transition: 0.6s;
		font-size: 1.25rem;
	}

	.burger_ {
		transition: 0.6s;
		width: 55px;

		img {
			width: 100%;
		}
	}

	.logo_container {
		transition: 0.6s;
		width: 118px;

		img {
			width: 100%;
		}
	}
}

.header_container.sticky {
	transition: 0.6s;
	height: 100px;
	background-color: #fff;

	p {
		transition: 0.6s;
		font-size: 1.125rem;
	}

	.burger_ {
		transition: 0.6s;
		width: 45px;

		img {
			width: 100%;
		}
	}

	.logo_container {
		transition: 0.6s;
		width: 80px;

		img {
			width: 100%;
		}
	}
}

.header_below {
	height: 180px;
}
// HEADER END

// FOOTER START
.footer_container {
	background: rgba(0, 0, 0, 0.75);
	padding: 4rem 0rem;
}
// FOOTER END

// HERO START
.hero_container {
	.line_ {
		width: 80px;
		height: 1px;
		background-color: rgba(0, 0, 0, 0.44);
	}

	.socials {
		margin-top: 8rem;
	}
}
// HERO END

// FUTURE THINKING START
.future_thinking_container {
	background: #f5f5f5;
	padding: 5rem 0rem;

	h1 {
		letter-spacing: 0.03em;
		line-height: 47px;
	}

	p {
		line-height: 30px;
		letter-spacing: 0.03em;
	}
}
// FUTURE THINKING END

// FEATURED PROJECTS END
.featured_projects_container {
	padding-top: 6rem;

	.line_ {
		height: 75px;
		width: 1px;
		background-color: rgba(0, 0, 0, 0.34);
	}

	.body {
		position: relative;
	}

	.projects_cta_container {
		position: absolute;
		left: 2rem;
		bottom: 2rem;
		background-color: rgba(255, 255, 255, 0.85);
		max-width: 400px;
		border-radius: 20px;
		padding: 2rem 1.5rem;

		h4 {
			margin-bottom: 2rem;
		}
	}
}
// FEATURED PROJECTS END

// BLOGS START
.blog_container {
	padding-top: 6rem;

	.each_slide {
		.img_container {
			.overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
				width: 100%;
				opacity: 0.5;
				transition: 0.5s ease;
				background: linear-gradient(
					196deg,
					rgba(255, 255, 255, 0) 10%,
					rgba(0, 0, 0, 1) 75%
				);
			}
		}
	}

	.swiper_container {
		position: relative;

		&::before {
			content: "";
			height: 100%;
			width: 1000%;
			position: absolute;
			z-index: 1111;
			background-color: white;
			top: 0%;
			left: -1000%;
		}
	}

	.swiper-container {
		overflow: initial;
	}

	.arrow_btns {
		[type="button"]:not(:disabled),
		[type="reset"]:not(:disabled),
		[type="submit"]:not(:disabled),
		button:not(:disabled) {
			background: #000 !important;
			color: #fff !important;
		}
	}

	.mySwiper {
		.slider_ {
			img {
				object-fit: cover;
				max-height: 300px;
				min-height: 300px;
			}

			.position-absolute {
				position: absolute;
				bottom: 2rem;
				left: 0;

				button {
					border: none;
					border-radius: 50%;
					height: 40px;
					width: 40px;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #fff;
				}
			}
		}
	}

	.arrow_btns {
		button {
			height: 40px;
			width: 40px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 2px solid #000;
			background: transparent;
		}
	}
}
// BLOGS END

// CTA START
.cta_container {
	margin-top: 6rem;
	position: relative;

	&::before {
		content: "";
		background: #9db0cb;
		background-position: bottom;
		border-radius: 250px 0px 0px 0px;
		position: absolute;
		margin-top: 3rem;
		height: 90%;
		width: 100%;
		z-index: -1;
	}

	h1 {
		line-height: 47px;
	}
}
// CTA END

// CONTACT START
.contact_form_container {
	padding-top: 4rem;

	.form_container {
		margin-top: 6rem;
	}

	input {
		border: none;
		border-bottom: 3px solid #000;

		&:focus {
			outline: none;
		}
	}

	textarea {
		border: none;
		border-bottom: 3px solid #000;

		&:focus {
			outline: none;
		}
	}
}
// CONTACT END

// EMBED CALENDER START
.embed_calender_container {
	margin-top: 7rem;
	margin-bottom: 16rem;
	// padding: 8rem 0rem 8rem 0rem;
	// border-radius: 0px 250px 250px 0px;
	position: relative;
	height: 300px;

	.embed_inner {
		padding: 6rem 0rem 0rem 0rem;
	}

	&::before {
		content: "";
		background: #9db0cb;
		border-radius: 0px 250px 250px 0px;
		padding: 8rem 0rem 8rem 0rem;
		position: absolute;
		height: 100%;
		width: 92%;
		z-index: -1;
	}

	.embed_calender {
		margin-top: -3rem;
		position: absolute;
		max-width: 500px;
		background-color: #fff;
		width: 100%;
		min-height: 320px;
		display: flex;
		justify-content: center;
		align-items: center;

		iframe {
			min-height: 400px;
			width: 100%;
		}
	}
}
// EMBED CALENDER END

// PRESS START
.press_body_container {
	margin-top: 6rem;

	.btn_cont {
		margin: 4rem 0rem;
	}

	.press_card {
		background: #ffffff;
		box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.1);
		border-radius: 20px;
		height: 100%;
		min-height: 1px;

		h2 {
			line-height: 45px;
			letter-spacing: 0.03em;
		}

		p {
			color: #3359cf;
		}
	}
}
// PRESS END

// VIDEOS START
.videos_container {
	padding-top: 3rem;

	.swiper-container {
		overflow: initial;
	}

	.recent_videos {
		z-index: 168;
		background: white;
		position: relative;

		&::before {
			content: "";
			height: 100%;
			width: 1000%;
			position: absolute;
			z-index: 1;
			background-color: white;
			top: 0%;
			left: -1000%;
		}
	}

	.arrow_btns {
		[type="button"]:not(:disabled),
		[type="reset"]:not(:disabled),
		[type="submit"]:not(:disabled),
		button:not(:disabled) {
			background: #000 !important;
			color: #fff !important;
		}
	}

	.arrow_btns {
		button {
			height: 40px;
			width: 40px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 2px solid #000;
			background: transparent;
		}
	}
}
// VIDEOS END

// PROJECTS START
.projects_container {
	padding-top: 3rem;

	.project_body {
		margin-top: 5rem;

		.single_project {
			position: relative;

			.max_project {
				max-width: 850px;

				img {
					margin-top: 5rem;
				}
			}

			.project_card {
				position: absolute;
				top: 0%;
				right: 0%;
				background: #ffffff;
				box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.1);
				border-radius: 20px;
				max-width: 400px;
			}
		}

		.single_project2 {
			margin-top: 5rem;
			position: relative;

			.max_project {
				max-width: 850px;
				margin-left: auto;

				img {
					margin-top: 5rem;
				}
			}

			.project_card {
				position: absolute;
				top: 0%;
				left: 0%;
				background: #ffffff;
				box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.1);
				border-radius: 20px;
				max-width: 400px;
			}
		}
	}
}
// PROJECTS END

// INITIATIVES START
.past_initatives_container {
	margin-top: 6rem;

	.btn_cont {
		margin: 4rem 0rem;
	}

	.initiative_card {
		-webkit-box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
		box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
		position: relative;
		z-index: 1;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		border: 1px solid rgb(242, 242, 242);

		.overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: 0.5s ease;
			z-index: 1;
			transition-delay: 0.2s;
		}
	}

	.initiative_card::before {
		top: 50%;
		left: 50%;
		width: 0%;
		z-index: 1;
		height: 100%;
		content: "";
		position: absolute;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color: #393c43;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}

	.initiative_card:hover {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);

		.overlay {
			opacity: 1;
		}
	}

	.initiative_card:hover::before {
		width: 100%;
	}
}
// INITIATIVES END

/* ==================== SideBAR STYLING END ======================== */
.SideBarContainer {
	position: fixed;
	right: 0%;
	left: 0%;
	bottom: 0%;
	color: white;
	font-size: 2.2rem;
	background: $color3;
	height: 600px;
	z-index: 11111;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 5rem;

	.logo {
		position: absolute;
		top: 1%;
		left: 3%;

		img {
			width: 120px;
		}
	}
}

.SideBarContainer ul li {
	a {
		color: #fff;
		text-decoration: none;
	}
}

.CrossBTn {
	position: absolute;
	top: 7%;
	right: 6.5%;
	cursor: pointer;
	height: 25px;
}
/* ==================== SideBAR STYLING END ======================== */

/* ==================== MEDIA START ======================== */
@media screen and (max-width: 992px) {
	.hero_container {
		img.hero_img {
			width: 100%;
		}
	}

	.videos_container {
		padding-top: 3rem;

		.swiper-container {
			overflow: hidden;
		}

		.recent_videos {
			z-index: 168;
			background: white;
			position: relative;

			&::before {
				content: "";
				display: none;
				height: 0%;
				width: 0%;
				position: absolute;
				z-index: 1;
				background-color: white;
				top: 0%;
				left: 0%;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.header_container .logo_container {
		transition: 0.6s;
		width: 75px;
	}
	.header_container .burger_ {
		transition: 0.6s;
		width: 45px;
	}
	.header_container {
		height: 110px;
	}
	.header_below {
		height: 150px;
	}
	.hero_container .socials {
		margin-top: 4rem;
	}
	.future_thinking_container {
		padding: 3rem 0rem;
	}
	.future_thinking_container p {
		line-height: 20px;
		letter-spacing: 0.02em;
	}
	.future_thinking_container h1 {
		letter-spacing: 0.03em;
		line-height: 40px;
	}
	.featured_projects_container .body {
		img {
			height: 500px;
			object-fit: cover;
			object-position: left;
		}
	}
	.featured_projects_container .projects_cta_container {
		position: absolute;
		left: 1rem;
		bottom: 1rem;
		right: 1rem;
		background-color: rgba(255, 255, 255, 0.85);
		max-width: 400px;
		border-radius: 20px;
		padding: 2rem 1.5rem;
	}
	.header_container.sticky {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 90px;
	}
	.header_container.sticky .logo_container {
		transition: 0.6s;
		width: 65px;
	}
	.header_container.sticky .burger_ {
		transition: 0.6s;
		width: 42px;
	}
	.cta_container h1 {
		line-height: 40px;
	}
	.let_space {
		letter-spacing: 0.1em;
	}
	.cta_container::before {
		content: "";
		background: #9db0cb;
		background-position: bottom;
		border-radius: 250px 0px px 0px 0px;
		position: absolute;
		margin-top: 3rem;
		height: 93.2%;
		width: 100%;
		z-index: -1;
	}
	.projects_container,
	.videos_container,
	.contact_form_container {
		padding-top: 0rem;
	}
	.projects_container .project_body .single_project .max_project img {
		margin-top: 1rem;
	}
	.projects_container .project_body .single_project .project_card {
		position: absolute;
		top: 80%;
		right: 1rem;
		left: 1rem;
	}
	.projects_container .project_body .single_project2 .project_card {
		position: absolute;
		top: 80%;
		right: 1rem;
		left: 1rem;
	}
	.projects_container .project_body .single_project2 {
		margin-top: 14rem;
		position: relative;
	}
	.past_initatives_container {
		margin-top: 20rem;
	}
	.embed_calender_container .embed_calender {
		left: 50%;
		max-width: 350px;
		transform: translateX(-50%);
	}
	.embed_calender_container {
		margin-bottom: 24rem;
	}

	// BLOGS START
	.blog_container {
		.swiper-container {
			overflow: hidden;
		}

		.swiper_container {
			position: relative;

			&::before {
				content: "";
				height: 0%;
				width: 0%;
				position: absolute;
				z-index: 1111;
				background-color: white;
				top: 0%;
				left: 0%;
			}
		}
	}
	// BLOGS END
}

@media screen and (max-width: 575px) {
	.blog_container .mySwiper .slider_ img {
		object-fit: contain;
		object-position: top;
		max-height: 300px;
		min-height: 275px;
		background: black;
	}
	.embed_calender_container .embed_calender iframe {
		min-height: 415px;
	}
	.embed_calender_container {
		margin-bottom: 30rem;
	}
}
